/* sm size */
@media (min-width: 576px) {

  /* font size */
  .fs-xs {
    font-size: .8rem !important;
  }

  .fs-sm {
    font-size: .9rem !important;
  }

  .fs-sm-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }

  .fs-sm-2 {
    font-size: 2rem !important;
  }

  .fs-sm-3 {
    font-size: 1.75rem !important;
  }

  .fs-sm-4 {
    font-size: 1.5rem !important;
  }

  .fs-sm-5 {
    font-size: 1.25rem !important;
  }

  .fs-sm-6 {
    font-size: 1rem !important;
  }

  /* end font size */
  .w-sm-33 {
    width: calc(33.33333% - .5rem) !important;
  }
}

/* md size */
@media (min-width: 768px) {

  /* font size */
  .fs-7 {
    font-size: 1rem !important;
  }

  .fs-lg {
    font-size: 3rem !important;
  }

  .fs-md-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }

  .fs-md-2 {
    font-size: 2rem !important;
  }

  .fs-md-3 {
    font-size: 1.75rem !important;
  }

  .fs-md-4 {
    font-size: 1.5rem !important;
  }

  .fs-md-5 {
    font-size: 1.25rem !important;
  }

  .fs-md-6 {
    font-size: 1rem !important;
  }

  /* end font size */
  .text-md-left {
    text-align: left !important;
  }
}

/* lg size */
@media (min-width: 992px) {

  /* font size */
  .fs-lg-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }

  .fs-lg-2 {
    font-size: 2rem !important;
  }

  .fs-lg-3 {
    font-size: 1.75rem !important;
  }

  .fs-lg-4 {
    font-size: 1.5rem !important;
  }

  .fs-lg-5 {
    font-size: 1.25rem !important;
  }

  .fs-lg-6 {
    font-size: 1rem !important;
  }

  /* end font size */
  .w-lg-25 {
    width: calc(25% - .5rem) !important;
  }
}