:root {
  --primary-color: darkslateblue;
  --bs-link-color-rgb: #333;
  --bs-link-hover-color-rgb: #666;
  --accordion-active-bg: rgb(101, 121, 155);
}

a {
  text-decoration: none;
}

/* bootstrap 기존 style 덮어쓰기 */
.bg-primary {
  background-color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  opacity: .9;
}

.border-primary {
  border-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.nav-link.active {
  background-color: var(--primary-color) !important;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--primary-color) !important;
}

/* 아코디언 active title */
.accordion-button:not(.collapsed) {
  color: #fcfcfc;
  background-color: var(--accordion-active-bg) !important;
}

.btn-md-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}

/* md size*/
@media (min-width: 768px) {
  .btn-md-sm {
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-border-radius: var(--bs-btn-border-radius);
  }
}

/* 새로운 style */
.w-70 {
  width: 70%;
}

.pe-5px {
  padding-right: 5px;
}

.mw-80 {
  max-width: 80px;
}

.mw-150 {
  max-width: 150px;
}

.mw-200 {
  max-width: 200px;
}

.mw-300 {
  max-width: 300px;
}

.mw-400 {
  max-width: 400px;
}

.mw-600 {
  max-width: 600px;
}

.fs-xs {
  font-size: .7rem !important;
}

.fs-sm {
  font-size: .8rem !important;
}

.fs-lg {
  font-size: 2.8rem !important;
}

.fs-7 {
  font-size: .9rem !important;
}

.ff-pan {
  font-family: "Nanum Pen Script", cursive;
}

.border-bottom-double {
  border-bottom: 4px double rgba(128, 128, 128, 0.4) !important;
}

.keep-all {
  word-break: keep-all;
}

.text-logo-color {
  color: rgb(211, 176, 0);
}

.text-blue {
  color: #0d6efd;
}

.bg-dark-2 {
  background-color: var(--bs-gray-800);
}

.bg-dark-3 {
  background-color: var(--bs-gray-700);
}

.bg-dark-4 {
  background-color: var(--bs-gray-600);
}

.bg-none {
  background-color: transparent;
}

.header-logo {
  height: 40px;
}

.img-bright {
  filter: brightness(1.12);
}

.three-line {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reverse-img {
  transform: scaleX(-1);
}

.no-md-contour-line::after {
  content: none !important;
}

/* user 전용 */
.main-banner {
  width: 100%;
  height: 110px;
  background-image: url("/images/page_benner2.jpg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  line-height: 120px;
  position: relative;
}

.main-banner.banner-bic {
  height: 140px;
  line-height: 2rem;
}

.benner-font {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: .9;
}

.benner-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(110deg, rgb(101, 121, 155), rgb(178, 99, 185) 68%, #3b37ad);
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
  z-index: 1;
  opacity: .5;
}

.nav-contour>li>.contour-line {
  width: auto;
  height: auto;
  position: relative;
}

.nav-contour>li:not(:last-child)>.contour-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 1rem;
  background-color: gray;
}

/* md size*/
@media (min-width: 768px) {
  .header-logo {
    height: 66px;
  }

  .main-banner {
    width: 100%;
    height: 200px;
    background-image: url("/images/page_benner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 220px;
    position: relative;
  }

  .main-banner.banner-bic {
    height: 400px;
    line-height: 400px;
  }

  .no-md-contour-line::after {
    content: "";
  }
}


/* admin 전용 */
.admin-home-bg {
  width: 100%;
  height: auto;
  background: linear-gradient(110deg, rgb(101, 121, 155), rgb(94, 37, 99) 68%, #3b37ad);
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* full calendar 달력 */
.calendar-days {
  cursor: pointer;
  transition: opacity .18s;
}

.calendar-days:hover {
  opacity: .5;
}

/* 오늘 */
.fc-day-today {
  background-color: #66666615 !important;
  background-image: url("/images/logo.png");
  background-size: auto 50%;
  background-position: center;
  background-repeat: no-repeat;
}